body{
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(180deg, #1f005c, #5b0060, #870160, #ac255e, #ca485c, #e16b5c, #f39060, #ffb56b);
}

* {
        border:1px red dashed;
}

.avatar-image {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 128px;
}

.thumbnail {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 48px;
}
